/* @import './utility.css'; */
@import 'tailwindcss';

html,
body,
#root {
	height: 100%; /* to stretch root */
}

.card-zoom,
.card-zoom-05 {
	transition: transform 0.2s ease-out;
}

.card-zoom:hover {
	transform: scale(1.1);
}

.card-zoom-05:hover {
	transform: scale(1.05);
}
